@font-face {
    font-family: Chantelli;
    src: url(../fonts/Chantelli.ttf);
}
@font-face {
    font-family: CrimsonText;
    src: url(../fonts/CrimsonText-SemiBold.ttf);
}
@font-face {
    font-family: IndieFlower;
    src: url(../fonts/IndieFlower.ttf);
}
