body {
  background-color: var(--colorBackground)!important;
}
#leftMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#leftMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}
#leftMenu a:hover {
  color: #f1f1f1;
}
#leftMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#leftMenu a[target=tkdLinks], .tkd_menu span {
  color: var(--color2);
  opacity: 0.5;
}
#leftMenu a:hover[target=tkdLinks], .tkd_menu span {
  opacity: 0.9;
}
.tkd_menu span {
  font-size: 15px;
}
#open_menu {
  font-size:40px;
  cursor:pointer;
  padding-left: 10px;
  color: white;
}
#img_text {
  font-family: CrimsonText;
  color: var(--color2);
  display: none;
}
.caption {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
}
#card1 {
  background-color: var(--colorMenuShadow);
}
#card2, #card3, #card4, #card5, #card6, #card7, #card8 {
  display: none;
}
.close {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
#map {
  width: 100%;
  height: 400px;
}
.centered {
  margin: auto;
}
#logo {
  margin: auto;
  padding-bottom: 25px;
  cursor: pointer;
}
.well {
  text-align: center;
  font-size: 150%;
}
#imgTangun {
  margin: 0 auto;
}
.belt {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  margin: 0 auto;
}
